@page
@model PharmacyLogin.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-success">Welcome Back!</h1>
    <p class="lead">You have successfully logged into the Pharmacy System.</p>
    <hr />
    <a href="/Login" class="btn btn-secondary">Logout</a>
</div>