@page
@model _202Project.Pages.Staff.Medicine.IndexModel
@{
    Layout = "_Layout";
}

<h1>Medicine Inventory</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Scientific Name</th>
            <th>Price</th>
            <th>Dosage</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MedicineList) {
        <tr>
            <td>@item.CommercialName</td>
            <td>@item.ScientificName</td>
            <td>@item.Price</td>
            <td>@item.Dosage</td>
        </tr>
}
    </tbody>
</table>